$font-primary: 'Quicksand', system-ui, Arial, sans-serif;
$font-accent: 'Quicksand', system-ui, Arial, sans-serif;
$font-heading: 'Nunito', 'Quicksand', system-ui, Arial, sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-size-caption: 12px;
$font-size-body: 16px;
$font-size-body-lg: 18px;
$font-size-heading: 24px;
$font-size-hero: 32px; 